# Android Gradle files
mobile/android/.gradle/
mobile/android/app/build/

# Flutter build files
mobile/build/

# IDE files
.idea/

# MacOS
.DS_Store

# Android Studio and IntelliJ configuration
*.iml
*.ipr
*.iws

# Log and temporary files
*.log
*.class
*.pyc
.swp

# Others
.history
.svn/
.swiftpm/
migrate_working_dir/
